%p#notice= notice

%p
  %b Name:
  = @network.name
%p
  %b Color:
  = @network.color
%p
  %b Capacity:
  = @network.capacity
%p
  %b Description:
  = @network.description

= link_to 'Edit', edit_network_path(@network)
\|
= link_to 'Back', networks_path
