= form_for NetworkLink.new(capacity: 5, color: '#55FF00'), remote: true do |f|
  = f.hidden_field :start_lat
  = f.hidden_field :start_lng
  = f.hidden_field :end_lat
  = f.hidden_field :end_lng
  .field
    = f.label :capacity
    = f.number_field :capacity
  .field
    = f.label :color
    = f.text_field :color
  .field
    = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Save'
