= form_for @network_link do |f|
  - if @network_link.errors.any?
    #error_explanation
      %h2= "#{pluralize(@network_link.errors.count, "error")} prohibited this network_link from being saved:"
      %ul
        - @network_link.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :start_lat
    = f.text_field :start_lat
  .field
    = f.label :start_lng
    = f.text_field :start_lng
  .field
    = f.label :end_lat
    = f.text_field :end_lat
  .field
    = f.label :end_lng
    = f.text_field :end_lng
  .field
    = f.label :capacity
    = f.number_field :capacity
  .field
    = f.label :color
    = f.text_field :color
  .field
    = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Save'
