%p#notice= notice

%p
  %b Start lat:
  = @network_link.start_lat
%p
  %b Start lng:
  = @network_link.start_lng
%p
  %b End lat:
  = @network_link.end_lat
%p
  %b End lng:
  = @network_link.end_lng
%p
  %b Capacity:
  = @network_link.capacity
%p
  %b Color:
  = @network_link.color
%p
  %b Description:
  = @network_link.description

= link_to 'Edit', edit_network_link_path(@network_link)
\|
= link_to 'Back', network_links_path
